body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{

  --background: #3c34e8;
  --white: #fefefe;
  --black: #1c1d42;
  --grey: #f2f4f7;
  --accentGreen: #43c6c9;
  --accentPurple: #857cbc;
  --accentPink: #e4d2eb;
}
